extends page.layout

block page-content
    ul.plugin-list
        li.no-results Nessun bando trovato

        li.plugin(role="listitem")
            a.title Bando Bla Bla ma molto molto molto molto molto molto lungo
            .description Lorem Ipsum
            .more-info
                .tags
                    a Bando Pubblico
                    a Trento
                    a Bari
                    a Indeterminato
                    
        li.plugin(role="listitem")
            a.title Bando Bla Bla ma molto molto molto molto molto molto lungo
            .description Lorem Ipsum
            .more-info
                .tags
                    a Bando Pubblico
                    a Trento
                    a Bari
                    a Indeterminato
                    