doctype html
html(lang='en', ng-app="callsApp")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
  
    block css
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    
        link( href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
        link( href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css')
        link( href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')
        //- link(href="/css/app.css", rel="stylesheet")
        link(href="/css/app-onepagewonder.css" rel="stylesheet")
        link(href="/css/app-onepagewonder-custom.css" rel="stylesheet")

    block js
      script(src='/components/angular/angular.min.js')
      script(src='/components/angular-resource/angular-resource.min.js')
      script(src='/components/angular-ui-router/release/angular-ui-router.min.js')
      script(src='/js/app.angular.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')

  body(ng-controller="MainController")

    include navbar

    include header 

    .container
        .featurette-divider
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                form.form-inline
                    select.form-control(ng-model="queryObject.institution")
                        option(value="") Seleziona Organizzazione
                        option(ng-repeat="institution in institutions" value="{{institution}}") {{institution}}
                    select.form-control(ng-model="queryObject.city")
                        option(value="") Seleziona Città
                        option(ng-repeat="city in cities" value="{{city}}") {{city}}
                    select.form-control(ng-model="queryObject.type")
                        option(value="") Seleziona Tipologia
                        option(ng-repeat="type in types" value="{{type}}") {{type}}
                    
                .featurette-divider
                    
                div
                    .post-preview(ng-repeat-start="call in calls")
                        a(href="{{call.url}}")
                            h4.post-title {{call.title}}
                        p.post-meta 
                            a(ui-sref="byinstitution({ institution: call.institution})")
                                {{call.institution}}
                            span.pull-right(ng-show="call.expiration") Scade il {{call.expiration | date : 'dd MMM yyyy'}}
                    hr(ng-repeat-end)

    include footer