doctype html
html(lang='en', ng-app="callsApp")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
  
    block css
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    
        link( href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
        link( href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css')
        link( href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')
        link(href="/css/app-onepagewonder.css" rel="stylesheet")
        link(href="/css/app-onepagewonder-custom.css" rel="stylesheet")

    block js
      script(src='/components/angular/angular.min.js')
      script(src='/components/angular-resource/angular-resource.min.js')
      script(src='/components/angular-ui-router/release/angular-ui-router.min.js')
      script(src='/js/app.angular.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')

  body(ng-controller="SourceController")
    include header
    //- HEADER --


    include navbar

    .container
      .featurette-divider
      //- .featurette
      .row
        .col-md-6
          h3 Registered Sources
          .clearfix

          div(ng-repeat="source in sources track by $index")
            .pull-right
              button.btn-xs.btn.btn-success(ng-click="crawlSource(source)")
                i.fa.fa-play
              | &nbsp;
              button.btn-xs.btn.btn-info(ng-click="editSource(source)")
                i.fa.fa-edit
              | &nbsp;
              button.btn-xs.btn.btn-danger(ng-click="deleteSource(source)")
                i.fa.fa-times

            a(href="{{source.baseUrl}}")
                h4.post-title {{source.name}}
                  br
                  small {{source.baseUrl}} 
            dl
              dt Fetch
              dd 
                samp.small {{source.fetchRegex}}

              dt Save
              dd 
                samp.small{{source.saveRegex}}
            dl.dl-horizontal
              dt(ng-repeat-start="(field, pattern) in source.pattern")  {{field}}
              dd(ng-repeat-end) {{pattern}} 

            hr.featurette-divider

        .col-md-6
          .panel.panel-default
            .panel-heading
              h4 {{ (source._id) ? 'Edit ' : 'Create ' }}  Source
            .panel-body
              //- div(data-spy="affix" data-offset-top="60" data-offset-bottom="200")
              form(ng-submit="saveSource()")
                .form-group
                  label(for="baseUrl") Url
                  input.form-control(type="text" ng-model="source.baseUrl", placeholder="Url", id="baseUrl")
                .form-group
                  label(for="name") Name
                  input.form-control(type="text" ng-model="source.name", placeholder="Name", id="name")

                fieldset
                  label(for="regex") Url Regex
                  input.form-control(type="text" ng-model="source.fetchRegex", placeholder="Regex urls to be fetched", id="fetchRegex")
                  | &nbsp;
                  input.form-control(type="text" ng-model="source.saveRegex", placeholder="Regex urls to be saved", id="saveRegex")
                | &nbsp;

                fieldset
                  label(for="patterns") Patterns
                  .form-inline#patterns
                    input.form-control(type="text", ng-model="pattern.title", style="width:40%;")
                    | &nbsp;
                    input.form-control(type="text", ng-model="pattern.pattern", style="width:40%;")
                    | &nbsp;
                    a.badge.badge-success(ng-click="addPattern()")
                      i.fa.fa-plus

                  dl.dl-horizontal
                  dl.dl-horizontal
                    dt(ng-repeat-start="(field, pattern) in source.pattern") 
                      a.badge.badge-danger.pull-left(ng-click="removePattern(field)")
                        i.fa.fa-minus
                      | {{field}}
                    dd(ng-repeat-end) {{pattern}}

                div
                  input.btn.btn-info.btn-lg(type="submit")    
                  | &nbsp;
                  button.btn.btn-warning.btn-lg(ng-click="testSource()") Test Source
                
                .row
                  alert(ng-show="error")
                  .col-md-12(ng-show="testCalls")
                    p Found {{testCalls.length}} calls
                    .panel.panel-default(ng-repeat="call in testCalls")
                      .pane-heading {{call.title}}
                      .panel-body
                        p [description] {{call.description}}
                        p [expire_date] {{call.expire_date}}
                        p [link] {{call.link}}


     